<div class="row top-menu">
	<div class="col-md-6">
		<a href="{{url_for('showCategories')}}">
			<span class="glyphicon glyphicon-home"
                  aria-hidden="true"></span>Show HomePage
		</a>
	</div>

	<div class="col-md-6 text-right">
        {% if not login_session.logged_in %}
        <a href="{{url_for('showLogin')}}"><span class="glyphicon
        glyphicon-user"
                  aria-hidden="true"></span>Login</a>
        {% else %}
        <p>Welcome, {{ login_session.username }} </p>
        <a href="{{ url_for('gdisconnect') }}">Log out</a>
        {% endif %}

	</div>
</div>